.markbig{
    font-size: 20px;
 }
.markgo{
    color: aliceblue;
    font-size: 20px;
    text-align: center; 
    background-color: aliceblue; 
    
}
section#about {
    background-color: rgb(22, 173, 232);
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    }
section#cta {
    background-color:#055160 ;
}
.mark2{
    
    text-align: center;
    padding: 10px;
    border-radius: 20px;
   color:aliceblue;
}
.mark1{
    
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    color: aliceblue;
    margin: -10px auto;
}
.mark4{
    background-color:#055160;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    color: aliceblue;
    margin: -10px auto;
}
.mark5{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
   
    color: #055160;
}
a.alink:hover{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    border-radius: 40px;
}
.resume-section1{
    text-align: center;
    color:#f28500;
}
.mark6{
    background-color:#055160;
    text-align:center;
    padding: 10px;
    border-radius: 20px;
   color:aliceblue ;
}
.mark7{
    
    text-align:center;
    padding: 10px;
    border-radius: 20px;
   color:aliceblue ;
}
.list-group-item-primary1 {
  color: #fdfdfe;
  background-color:#04414d;
}
.list-group-item.my-course-header {
    background-color: #04414d; /* 這裡換成你想要的背景色（目前範例是深藍色） */
    border-color: #4A90E2;     /* 邊框顏色，建議設定跟背景一樣 */
    color: #ffffff;            /* 文字顏色（目前是白色） */
}
.my-course-item2{
     background-color: #04414d; /* 這裡換成你想要的背景色（目前範例是深藍色） */
    border-color: #4A90E2;     /* 邊框顏色，建議設定跟背景一樣 */
    color: #ffffff;   
}
.my-custom-table th {
    background-color: #fbfbfb !; /* 換成你想要的表頭主色*/
    color: #2c3e50 !important;            /*表頭文字顏色（白色） */
}

/* 2. 修改奇數行的背景顏色 */
.my-custom-table tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa !important; /* 換成你想要的淺色相間色 */
}

/* 3. 修改表格「偶數行」的背景顏色 */
.my-custom-table tbody tr:nth-of-type(even) {
    background-color:#2c3e50;
    color: #ffffff;
}
/* 4. 滑鼠滑過橫列時的互動顏色 */
.my-custom-table tbody tr:hover {
    background-color: #e9ecef !important; /* 滑鼠移上去時的顏色 */
}
.aaa10{
    color:#f28500 ;
}